@rendermode InteractiveServer
<div class="rz-p-0 rz-p-md-12" style="padding: 0 !important; background-color: white;">
    <h4 class="text-center pt-4">Inventory Condition Overview</h4>

    <RadzenChart Style="height: 35rem; padding: 0;">

        <RadzenColumnSeries Data="@conditionStats" CategoryProperty="Month" ValueProperty="Serviceable" Title="Serviceable" Fill="#11ba82">
            <RadzenSeriesDataLabels />
        </RadzenColumnSeries>

        <RadzenColumnSeries Data="@conditionStats" CategoryProperty="Month" ValueProperty="NonServiceable" Title="Non-Serviceable" Fill="#f04343">
            <RadzenSeriesDataLabels />
        </RadzenColumnSeries>

        <RadzenColumnSeries Data="@conditionStats" CategoryProperty="Month" ValueProperty="UnderMaintenance" Title="Under Maintenance" Fill="#f59f0a">
            <RadzenSeriesDataLabels />
        </RadzenColumnSeries>

        <RadzenColumnOptions Width="70" Radius="5" />

        @* <RadzenValueAxis>
            <RadzenGridLines Visible="false" />
            <RadzenAxisTitle Text="Count" />
        </RadzenValueAxis> *@

        <RadzenCategoryAxis>
            <RadzenAxisTitle Text="Month" />
            <RadzenGridLines Visible="true" />
        </RadzenCategoryAxis>
    </RadzenChart>  
</div>

@code {
    class ConditionData
    {
        public string Month { get; set; }
        public int Serviceable { get; set; }
        public int NonServiceable { get; set; }
        public int UnderMaintenance { get; set; }
    }

    ConditionData[] conditionStats = new[]
{
    new ConditionData { Month = "Jan", Serviceable = 10, NonServiceable = 5, UnderMaintenance = 3 },
    new ConditionData { Month = "Feb", Serviceable = 12, NonServiceable = 4, UnderMaintenance = 6 },
    new ConditionData { Month = "Mar", Serviceable = 8,  NonServiceable = 6, UnderMaintenance = 4 },
};
}